<nav class="col-md-2 d-none d-md-block sidebar">
    <div class="sidebar-sticky">
     <div class="side">
      <mat-icon>home</mat-icon>
      <a href="" class="nav-item nav-link active" routerLink='home' routerLinkActive='active'>Home</a>
     </div>
     <div class="side">
         <mat-icon>contact_page</mat-icon>
      <a class="nav-item nav-link" routerLink='profile' routerLinkActive='active'>Profile</a>
     </div>
     <div class="side">

          <mat-icon>forum</mat-icon>
      <a class="nav-item nav-link" routerLink='about' routerLinkActive='active'  matBadge="8" matBadgePosition="before" matBadgeColor="warn">Chat</a>
      </div>

     <div class="side">
         <mat-icon>contact_support</mat-icon>
      <a class="nav-item nav-link" routerLink='about' routerLinkActive='active'>Help</a>
     </div>

     <div class="side">
      <mat-icon>logout</mat-icon>
   <a class="nav-item nav-link" routerLink='logout'>Logout</a>
  </div>
    </div>

</nav>
