<section class="our-webcoderskull padding-lg">
    <div class="container">
        <p class="about">About/<a href="/home">Home</a></p>
      <div class="row heading heading-icon">
          <h2>Our Team</h2>
      </div>
      <ul class="row">
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
              <h3><a href="http://www.webcoderskull.com/"></a></h3>
              <p></p>
              <ul class="follow-us clearfix">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="http://www.webcoderskull.com/img/team1.png" class="img-responsive" alt=""></figure>
              <h3><a href="#"> </a></h3>
              <p></p>
              <ul class="follow-us clearfix">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
              <h3><a href="http://www.webcoderskull.com/"> </a></h3>
              <p></p>
              <ul class="follow-us clearfix">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
         </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="http://www.webcoderskull.com/img/team2.png" class="img-responsive" alt=""></figure>
              <h3><a href="http://www.webcoderskull.com/"> </a></h3>
              <p></p>
              <ul class="follow-us clearfix">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
        </li>
      </ul>
    </div>
  </section>

  <div class="how-section1">
    <div class="row">
        <div class="col-md-6 how-img">
            <img src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png" class="rounded-circle img-fluid" alt=""/>
        </div>
        <div class="col-md-6">
            <h4>Welcome to Consult</h4>
                        <h4 class="subheading">About Consult.</h4>
        <p class="text-muted">A clinical communication and collaboration platform that
            coordinates activities and data flow between health workers
        </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Key Features</h4>
                        <h4 class="subheading">Our app.</h4>
                        <p class="text-muted">Coonsult has four key product areas that are underpinned by our extensive data and security credentials</p>
        </div>
        <div class="col-md-6 how-img">
            <img src="https://image.ibb.co/cHgKnU/Work_Section2_freelance_img2.png" class="rounded-circle img-fluid" alt=""/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 how-img">
             <img src="https://image.ibb.co/ctSLu9/Work_Section2_freelance_img3.png" class="rounded-circle img-fluid" alt=""/>
        </div>
        <div class="col-md-6">
            <h4>Clinical Tasks & Priorities.</h4>
                        <h4 class="subheading">Keep track and organize workflow</h4>
                        <p class="text-muted">Create clarity around competing priorities and make it easy for colleagues to pick up and share feedback on tasks using this app.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Connect with professionals from all over</h4>
                        <h4 class="subheading">Finding similar professionals to share and collaborate</h4>
                        <p class="text-muted">We also allow our users to get connected to other users from different hospitals but in thesame profession as you.</p>
        </div>
        <div class="col-md-6 how-img">
            <img src="https://image.ibb.co/gQ9iE9/Work_Section2_freelance_img4.png" class="rounded-circle img-fluid" alt=""/>
        </div>
    </div>
</div>