<div class="sidenav">
  <div class="login-main-text">
    <img src="assets/images/cropped-consult.jpg" alt="LOGO" height="300px" width="400px">
  </div>
</div>
<div class="main">
  <!-- <img src="assets/images/chat.jpg" alt=""> -->
  <div class="col-md-6 col-sm-12">
     <div class="login-form">
        <form>
          <button (click)="loginGoogle()" class="google" >
            Signin With Google
          </button>
          <br>
          <small class="or center">or</small>
          <br>
          <button routerLink="/email-login" class="email">Email</button>
          <br>
          <small>Don't have an account? </small><a routerLink="/signup" routerLinkActive="active"
             href=""><strong>Register</strong></a>
        <br>
        </form>
     </div>
  </div>
</div>

    
  <!-- <button (click)="loginGoogle()" class="google" >
    Signin With Google
  </button>
  <br>
  <small class="or center">or</small>
  <br>
  <span class="input-item">
    <i class="fa fa-envelope" aria-hidden="true"></i>
  </span>
  <button routerLink="/email-login" class="email">Email</button>
  <br>
  <small>Don't have an account? </small><a routerLink="/signup" routerLinkActive="active"
     href=""><strong>Register</strong></a>
<br> -->