<div class="conatiner" style="background-color: #003060;">
  <img src="assets/images/cropped-consult.jpg" alt="" height="60px" width="70px">
  <div class="wrap">    
    <div class="box one">
      <div class="date">
        <h4></h4>
        <br>
      </div>
      <button routerLink="/email-login" class="email"><img src="assets/images/mail.png" alt="" style="border-radius: 50%;" height="34px" width="37px">Email</button>
    </div>
    
    <div class="box two">
      <div class="date">
        <h4></h4>
        <br>
      </div>
      <button (click)="loginGoogle()" class="google" >
         <img src="assets/images/gm.png" alt="" style="border-radius: 50%;" height="20px">  Signin With Google
      </button>
    </div>

    <div class="box three">
      <div class="date">
        <h4></h4>
        <br>
      </div>
      <button >
        <small>Don't have an account? </small><a routerLink="/signup" routerLinkActive="active"
       href=""><strong>Register</strong></a>
      </button>
    </div>  
  </div>
  </div>
    
    
  <!-- <button (click)="loginGoogle()" class="google" >
    Signin With Google
  </button>
  <br>
  <small class="or center">or</small>
  <br>
  <span class="input-item">
    <i class="fa fa-envelope" aria-hidden="true"></i>
  </span>
  <button routerLink="/email-login" class="email">Email</button>
  <br>
  <small>Don't have an account? </small><a routerLink="/signup" routerLinkActive="active"
     href=""><strong>Register</strong></a>
<br> -->