<mat-toolbar>
  <button type="button" (click)="drawer.toggle()" mat-icon-button class="toggler">
    ☰
  </button>
  <span>Tasks</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === true">
      <!-- <img class="avatar mat-elevation-z8" src="{{profile.image}}" />
      <h4 class="name">Dr.{{ profile.displayName }}</h4>
      <p class="designation">{{ profile.department }}</p>
    <mat-divider></mat-divider> -->

    <a
      mat-list-item
      href=""
      class="nav-item nav-link active"
      routerLink="/home"
      routerLinkActive="active"
      ><mat-icon>home</mat-icon> Home</a
    >
    <a
      mat-list-item
      class="nav-item nav-link"
      routerLink="/profile"
      routerLinkActive="active"
      ><mat-icon>contact_page</mat-icon>Profile</a
    >
    <a
      mat-list-item
      class="nav-item nav-link"

      href="/patients"

      routerLinkActive="active"
      ><mat-icon>assignment</mat-icon>Page</a
    >
   
    <a
      mat-list-item
      class="nav-item nav-link"
      routerLink="/convolist"
      routerLinkActive="active"
      ><mat-icon>forum</mat-icon
      ><span matBadge="4" matBadgeOverlap="false">Chat</span></a
    >
    <a
      mat-list-item
      class="nav-item nav-link"
      routerLink="/about"
      routerLinkActive="active"
      ><mat-icon>contact_support</mat-icon>Help</a
    >

    <a
      mat-list-item
      class="nav-item nav-link"
      routerLink="/directory"
      routerLinkActive="active"
      ><mat-icon> contact_mail</mat-icon>Directory</a
    >

    <!-- <a
      mat-list-item
      class="nav-item nav-link pointer"
      *ngIf="(user | async)?.uid"
      (click)="logout()"
    >
      <mat-icon>logout</mat-icon>Logout</a
    > -->
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content-wrapper">
      <div class="container-fluid">
          <div class="container-fluid">
            <div class="row">
                <div class="tabs col-md-11">
                    <h2 class="mt-3 text-center">Tasks Board</h2>
                    <mat-tab-group animationDuration="0ms">
                      
                      <!-- common tasks -->
                      <mat-tab class="kanban" label="Kanban">
                        <app-tasks></app-tasks>
                    </mat-tab>
                        <!-- calendar -->
                        <mat-tab class="cal" label="Calendar">
                          <app-task-calendar></app-task-calendar>
                       </mat-tab>
                    </mat-tab-group>
                </div>
                <div class="small-screen">
                  <app-tasks></app-tasks>
                </div>
                <div class="col-md-1">
        
              </div>
            </div>
        </div>
   </div>
   </div>


  </mat-sidenav-content>
</mat-sidenav-container>

