<app-navbar></app-navbar>
<div class="container">
    <!-- <small class="text-center">Reading from Task List</small> -->
    <br>
     <div class="addbtn">
      <button (click)="newTask()" mat-raised-button class="task">
          <mat-icon>add</mat-icon> Add Task
        </button>
  
        <button mat-raised-button>
          <mat-icon>event</mat-icon> 
         <a style="text-decoration: none;" routerLink="/calendar">Calendar</a>
        </button>
        <br>
        <br>
     
     </div>
      <div class="container-wrapper">
          <div class="container">
            <h2>All Tasks</h2>
        
            <mat-card class="list all-tasks">
              <p class="empty-label" *ngIf="lenTasks === 0">Empty list</p>
              <app-new-task (edit)="editTask('todo', $event)" *ngFor="let task of todo" [task]="task"></app-new-task>
            </mat-card>
          </div>
        
          <div class="container">
            <h2>On Hold</h2>
        
            <app-on-hold (edit)="editTask('done', $event)"></app-on-hold>
          </div>
        
          <div class="container">
            <h2>Done</h2>
              <app-done-task (edit)="editTask('done', $event)"></app-done-task>
          </div>
        </div>
  </div>