/* .chatchannel{
  display: flex;
}

.sidebarWrapper{
    color: #fff;
    display: flex;
    font-size: 1.2em;
    flex: 2.01;
    order: 1;
    padding:20px 0px 40px 30px;
    border-right: 1px solid #222;
    height: 100vh;
}


.chatfeed {
    background-color: #eee;
    background: 
        linear-gradient(#F0F4F6),
        url('/assets/img/steve-johnson-hokONTrHIAQ-unsplash.jpg') center center no-repeat;;
    background-size: cover;
    font-size: 1.2em;
    flex: 5;
    order: 2;
    overflow: auto;
    padding:20px 0px 0px 24px;
}

.user{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .user-list{
    overflow: auto;
  }
  .online{
      margin-left: 20%;
  }
  .search{
      width: 100%;
  }
.list:hover{
    background-color: #003060;
    color: white;
}

.chatFormWrapper {
    display: flex;
    height: 80vh;
    background-color: #eee;
    z-index: 3;
}

#scroll-style::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: gray;
}


.toggler{
    font-size: 40px;
  } 
  mat-toolbar {
    background: #004a9f;
    color: white;
}


.nav-item{
    color: white;
}
mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: lightgray;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}
mat-icon {
  margin-right: 8px;
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}
#chats{
    max-width: 20em;
} */


/* new */
.toggler{
  font-size: 40px;
} 
mat-toolbar {
  background: #004a9f;
  color: white;
}

.nav-item{
  color: white;
}
mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #002b5c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  color: lightgray;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-button {
width: 100%;
display: flex;
align-items: center;
justify-content: flex-start;
font-size: 1rem;
}
mat-icon {
margin-right: 8px;
}

.avatar {
margin-top: 16px;
width: 100px;
height: 100px;
border-radius: 50%;
}

.name {
margin-top: 8px;
font-weight: normal;
}

.designation {
margin-top: 2px;
font-size: 0.7rem;
color: lightgrey;
}

mat-divider {
margin-top: 16px;
margin-bottom: 16px;
background-color: rgba(255, 255, 255, 0.5);
}