
<div class="container">
   <div class="addbtn">
    <button (click)="newTask()" mat-raised-button>
        <mat-icon>add</mat-icon> Add Task
      </button>
      <br>
     <a routerLink="/departments">Departments</a>
   </div>
    <div class="container-wrapper">
        <div class="container">
          <h2>All Tasks</h2>
      
          <mat-card
            cdkDropList
            id="todo"
            #todoList="cdkDropList"
            [cdkDropListData]="todo | async"
            [cdkDropListConnectedTo]="[doneList, inProgressList]"
            (cdkDropListDropped)="drop($event)"
            class="list">
            <p class="empty-label" *ngIf="(todo | async)?.length === 0">Empty list</p>
            <app-new-task (edit)="editTask('todo', $event)" *ngFor="let task of todo | async" cdkDrag [task]="task"></app-new-task>
          </mat-card>
        </div>
      
        <div class="container">
          <h2>In progress</h2>
      
          <mat-card
            cdkDropList
            id="inProgress"
            #inProgressList="cdkDropList"
            [cdkDropListData]="inProgress | async"
            [cdkDropListConnectedTo]="[todoList, doneList]"
            (cdkDropListDropped)="drop($event)"
            class="list">
            <p class="empty-label" *ngIf="(inProgress | async)?.length === 0">Empty list</p>
            <app-new-task (edit)="editTask('inProgress', $event)" *ngFor="let task of inProgress | async" cdkDrag [task]="task"></app-new-task>
          </mat-card>
        </div>
      
        <div class="container">
          <h2>Done</h2>
      
          <mat-card
            cdkDropList
            id="done"
            #doneList="cdkDropList"
            [cdkDropListData]="done | async"
            [cdkDropListConnectedTo]="[todoList, inProgressList]"
            (cdkDropListDropped)="drop($event)"
            class="list">
            <p class="empty-label" *ngIf="(done | async)?.length === 0">Empty list</p>
            <app-new-task (edit)="editTask('done', $event)" *ngFor="let task of done | async" cdkDrag [task]="task"></app-new-task>
          </mat-card>
        </div>
      </div>
</div>