<div *ngIf="task.owner == 'JMbugua'">
    <mat-card class="item" *ngIf="task" (dblclick)="edit.emit(task)">
        <div class="content">
            <h3>{{task.title}}</h3>
        <span><b>Task Owner:</b> {{task.owner }}</span> <br>
        <span *ngIf="task.dateDue"><b>Due Date:</b> {{task.dateDue.toDate()|date }}</span> <br>
        <!-- <p><span>From: {{task.from.toDate()}}</span> to <span>{{task.to.toDate()}}</span></p> -->
        <span>Created: {{task.created.toDate()|date}}</span>
        </div>
        <!-- <div *ngIf="task.dateDue.toDate().toDateString() == today.toDateString()"  class="due"></div> -->
    </mat-card>
    
    <br>
</div>