<mat-form-field>
    <mat-label>Title</mat-label>
    <input type="text" matInput cdkFocusInitial [(ngModel)]="data.task.title">
</mat-form-field>
<mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="data.task.description"></textarea>
</mat-form-field>
<mat-form-field>
    <mat-label>Owner</mat-label>
    <input matInput [(ngModel)]="data.task.owner">
</mat-form-field>
<mat-form-field>
    <mat-label>Task Due Date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="data.task.dateDue">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="{task: data.task}">OK</button>
    <button mat-button (click)="cancel()">Cancel</button>
  </div>