.container-wrapper{
    display: flex;
    font-size: 11.4px;
}

.addbtn{
    display: flex;
    flex-direction: column;
    
}
.addbtn button{
  background-color: #003060;
    color: white;
}
h2, p, a, button{
  font-family: comfortaa;
}
:host {
    display: block;
  }
  
  .item {
    margin-bottom: 10px;
    cursor: pointer;
  }
mat-toolbar {
  background-color: #003060;
  display: flex;
  justify-content: space-between;
  color: white;
}
.nav-link{
  color: white;
}
.nav-link:hover{
  color: #C0C0C0;
}
/* .addbtn button{
  background-color: deepskyblue;
  color: white;
} */
.all-tasks {
  background-color: #AFE1AF;
}
.in-progress{
  background-color: linen;
}
.done{
  background-color: lavender;
}


/* new */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */

  ::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */

  ::-webkit-scrollbar-thumb {
  background: #003060; 
}

  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  
  background: #555; 
} 