.chatInput{
    flex: 10;
    font-size: 1.3em;
    font-family: 'Open Sans', sans-serif;
    background-color: #eee;
    color: #000;
    transition: 0.1s ease-out;
    padding-left: 80px;
    border-radius: 10px;
}

.chatInput:focus{
    background-color: #E4F1FE;
    color: #222;
    transition: 0.2s ease-in;
}

.chatButton{
    flex: 1;
    transition: 0.2s ease-out;
    border: transparent;
}

.chatButton:hover{
    background-color: #444;
}