<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h3>Overview</h3>
        </div>
        <div class="col-md-9">
            <h3>Tasks Home Page</h3>

            <mat-tab-group animationDuration="0ms">
                <!-- overall -->
              <mat-tab label="Overview">
            
              </mat-tab>
              <!-- common tasks -->
              <mat-tab label="Kanban">
                <app-tasks></app-tasks>
            </mat-tab>
              <!-- patient tasks -->
              <mat-tab label="Patient Tasks">
            
              </mat-tab>
              <!-- calendar -->
              <mat-tab label="Calendar">
                 <app-task></app-task>
              </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
