<mat-toolbar class="toolbar">
  <div class="d-flex">
      <img src="../../../../assets/images/logo.png" alt="" class="logo-img">
  </div>
  <div class="search">
    <mat-form-field appearance="standard" style="color: white;" >
      <input  matInput placeholder="">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
<div>
  <ul class="d-flex">
    <a routerLink="/" class="nav-link">Home</a>
    <a routerLink='/chats' class="nav-link">Chats</a>
    <a routerLink="/directory" class="nav-link">Directory</a>
    <a routerLink='/tasks' class="nav-link">Tasks</a>
  </ul>
</div>
</mat-toolbar>
<div class="container">

    <div class="this-row row">
       
        <div class="patient-list col-md-4">
            
            <div>
                <div id="patient-header">
                    <h2>Patients</h2>
                    <!-- <button mat-raised-button class="addBtn btn-sm" routerLink="/new-patient"><mat-icon>add</mat-icon></button> -->
                    <button mat-raised-button class="addBtn btn-sm" (click)="newPatient()"><mat-icon>add</mat-icon></button>
                </div>
                <ul class="list-group" *ngFor="let patient of patients">
                
                    <li class="list-group-item" [routerLink]="['/patients', patient.id]">
                    <div class="patient-detail">
                     
                        <mat-expansion-panel style="width: 100%;" hideToggle routerLinkActive="is-active">
                          <mat-expansion-panel-header>
                          <mat-panel-title>
                            <mat-icon>account_circle</mat-icon>
                          <span>{{patient.firstName}}</span>
                          <span>{{patient.lastName}}</span>
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Email: {{patient.email}}</p>
                       
                        </mat-expansion-panel>
                   
                       
                        <!-- <span>{{patient.id}}</span> -->
                     </div>
                    </li>
                </ul>
            </div>
            
        </div>
        <div class="tasks-list col-md-8">
           <div class="task-header">
            <h2>Tasks</h2>
            <button mat-raised-button mat-fab routerLink="./add-task"><mat-icon>add</mat-icon></button>
           </div>
           <div class="btn-area">
               <button class="btn" [class.active]="filter == 'all'" (click)="filter = 'all'" >All</button>
               <button class="ms-3 btn" [class.active]="filter == 'active'" (click)="filter = 'active'">To Do</button>
               <button class="ms-3 btn" [class.active]="filter =='done'" (click)="filter = 'done'">Done</button>
           </div>
           <div *ngFor="let task of tasks | async">
               <div id="task-area">
               <div class="task-title-area">
                 <div>
                    {{task.title}}
                    
                   
                 </div>
               <div class="actions" *ngIf="!editable">
                  <div>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="task actions">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="edit(task)">
                          <mat-icon>edit</mat-icon>
                          <span>Edit</span>
                        </button>
                        <button mat-menu-item data-bs-toggle="modal" data-bs-target="#deleteModal">
                          <mat-icon>delete</mat-icon>
                          <span>Delete</span>
                        </button>
                        <button mat-menu-item *ngIf="task.done" (click)=continue(task)>
                          <mat-icon>check_circle</mat-icon>
                          <span>Done</span>
                        </button>
                        <button mat-menu-item *ngIf="!task.done" (click)=complete(task)>
                            <mat-icon>pending</mat-icon>
                            <span>Pending</span>
                          </button>
                      </mat-menu>
                  </div>
           
                <span>
                  <!-- modal -->
                  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                          <h3 class="ms-5 mt-3" id="deleteModalLabel">Are you sure you want to delete "{{task.title}}"?</h3>
                        
                          <div class="actions">
                              <div class="row">
                                  <div class="col-md-6"></div>
                                  <div class="col-md-6 modal-actions">
                                    <button type="button" mat-raised-button color="primary" data-bs-dismiss="modal">cancel</button>
                                    <button type="button" mat-raised-button color="warn" (click)="deleteTask(task)" data-bs-dismiss="modal">delete</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <!-- end of modal -->
                </span>
               </div>
            
               </div>
               <small class="text-muted" *ngIf="task.done">Status: completed</small>
               <small class="text-muted" *ngIf="!task.done">Status: pending</small>
               <p>Assigned: {{task.assignedTo}}</p>
               </div>  
           </div>
        </div>
    </div>
</div>
