You are logged in as <strong>{{currentUser?.displayName }}</strong><hr>
<div *ngFor="let profile of profiles">
  <app-follow [user]="user" [currentUser]="currentUser"></app-follow>
  <div class="profile">
    <!-- <img [src]="user.img" width="50px"> -->
    @{{profile.displayName}} has <strong>{{followerCount}}</strong> followers
    <div *ngIf="isFollowing; then unfollowButton else followButton">
        button renders here
    </div>
  </div>
</div>


<ng-template #followButton>
  <button class="button is-info" (click)="toggleFollow()">Follow</button>
</ng-template>

<ng-template #unfollowButton>
  <button class="button is-warning" (click)="toggleFollow()">Unfollow</button>
</ng-template>
