<!-- <form>

    <input type="radio" name="fancy" autofocus value="clubs" id="clubs" />
    <input type="radio" name="fancy" value="hearts" id="hearts" />
    <input type="radio" name="fancy" value="spades" id="spades" />
    <input type="radio" name="fancy" value="diamonds" id="diamonds" />			
    <label for="clubs"> 
      <img src="../../assets/images/doctorambulance6.jpg" alt="" width="300px" height="200px">
      Welcome to Dr. Little</label>
      <label for="hearts"> second</label>
      <label for="spades"> third</label>
      <label for="diamonds"> fourth</label>

    <div class="keys">Use left and right keys to navigate</div>
</form> -->



<input type="radio" id="s-1" name="slider-control" checked="checked">
<input type="radio" id="s-2" name="slider-control">
<input type="radio" id="s-3" name="slider-control">
<div class="js-slider">
  <figure class="js-slider_item img-1">
    <div class="js-slider_img">
      <mat-card>
        <img class="c-img-w-full" src="../../assets/images/nurses.jpg" alt="">
      </mat-card>
    </div>
    <figcaption class="wo-caption">
      <h3 class="wo-h3">
        <div class="c-label"><a class="get" >WELCOME TO DR. LITTLE</a> </div>
        <small><a href="/login" class="text-decoration-none">skip</a></small>
     </h3>
     
      <h2 class="wo-credit">
        Doctor Little Kenya is a charitable humanitarian organization founded in 2016, which focuses on improving the living standards of the community at large by primarily addressing the welfare of little children.We offer the best standards of care for disadvantaged children in the community, impart resources for patients on knowledge about their health and, create a platform for stakeholders and organizations to support the community. 
        
      </h2>
    </figcaption>
  </figure>
  <figure class="js-slider_item img-2">
    <div class="js-slider_img">
      <img class="c-img-h-full" src="../../assets/images/doc.jpg" alt=""></div>
    <figcaption class="wo-caption">
      <h3 class="wo-h3">
        <div class="c-label"><a class="get" >ANNOUNCEMENT</a> </div>
      </h3>
      <h2 class="wo-credit">
        This is our Latest Platform where you can get all the latest information on your work and agency. 
        It is a very reliable and convenient way of helping you keep track f work, talk with speciallists and share ideas.
        Be sure to also download the Mobile version of this app.
      </h2>
    </figcaption>
  </figure>
  <figure class="js-slider_item img-3">
    <div class="js-slider_img">
      <img class="c-img-h-full" src="../../assets/images/doctors.jpg" alt=""></div>
    <figcaption class="wo-caption">
      <h3 class="wo-h3">
        <div class="c-label"><a class="get"  href="/login">Get Started</a> </div>
     </h3>
      <h2 class="wo-credit ">
        Doctor Little Kenya is so proud and grateful for our inspiring supporters and volunteers, who give up their precious time and energies to raise awareness and vital funds to help our work.
        Welcome to our online collaboration platform. Get started today!
      </h2>
    </figcaption>
  </figure>
  <div class="js-slider_nav">
    <label class="js-slider_nav_item s-nav-1 prev" for="s-3"></label>
    <label class="js-slider_nav_item s-nav-1 next" for="s-2"></label>
    <label class="js-slider_nav_item s-nav-2 prev" for="s-1"></label>
    <label class="js-slider_nav_item s-nav-2 next" for="s-3"></label>
    <label class="js-slider_nav_item s-nav-3 prev" for="s-2"></label>
    <label class="js-slider_nav_item s-nav-3 next" for="s-1"></label>
  </div>
  <div class="js-slider_indicator">
    <div class="js-slider-indi indi-1"></div>
    <div class="js-slider-indi indi-2"></div>
    <div class="js-slider-indi indi-3"></div>
  </div>
</div>