<mat-toolbar>
    <button type="button" (click)="drawer.toggle()" mat-icon-button class="toggler">☰</button>
        <span>Navigation</span>
</mat-toolbar>
       
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" 
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === true">
        <img class="avatar mat-elevation-z8" src="https://image.freepik.com/free-vector/doctor-avatar-design_1146-14.jpg" />
        <h4 class="name">Dr. Jane</h4>
        <p class="designation">Gynacologist</p>
        <hr>   
      
        <a mat-list-item href="" class="nav-item nav-link active" routerLink='/home' routerLinkActive='active'><mat-icon>home</mat-icon> Home</a>
        <a mat-list-item class="nav-item nav-link" routerLink='profile' routerLinkActive='active'><mat-icon>contact_page</mat-icon>Profile</a> 
        <a mat-list-item class="nav-item nav-link" routerLink='/chats' routerLinkActive='active'  matBadge="8" matBadgePosition="before" matBadgeColor="warn"><mat-icon>forum</mat-icon>Chat</a>
        <a mat-list-item class="nav-item nav-link" routerLink='about' routerLinkActive='active'><mat-icon>contact_support</mat-icon>Help</a>  
        <a mat-list-item class="nav-item nav-link" *ngIf="(user|async)?.uid" (click)="logout()"> <mat-icon>logout</mat-icon>Logout</a>
  
    </mat-sidenav>
    <mat-sidenav-content>
        <div>
            <div class="example-sidenav-content">
                <div class="container-fluid">

                </div>

            </div>
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
   
 