<mat-toolbar>
  <button type="button" (click)="drawer.toggle()" mat-icon-button class="toggler">☰</button>
      <span>Navigation</span>
</mat-toolbar>
     
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" 
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === true">
      <img class="avatar mat-elevation-z8" src="https://image.freepik.com/free-vector/doctor-avatar-design_1146-14.jpg" />
      <h4 class="name">Dr. Jane</h4>
      <p class="designation">Gynacologist</p>
      <hr>   
      
      <a mat-list-item href="" class="nav-item nav-link active" routerLink='/home' routerLinkActive='active'><mat-icon>home</mat-icon> Home</a>
      <a mat-list-item class="nav-item nav-link" routerLink='/profile' routerLinkActive='active'><mat-icon>contact_page</mat-icon>Profile</a> 
      <a mat-list-item class="nav-item nav-link" routerLink='/chatroom' routerLinkActive='active' ><mat-icon>forum</mat-icon><span matBadge="4" matBadgeOverlap="false">Chat</span></a>
      <a mat-list-item class="nav-item nav-link" routerLink='about' routerLinkActive='active'><mat-icon>contact_support</mat-icon>Help</a>  
      <a mat-list-item class="nav-item nav-link" *ngIf="(user|async)?.uid" (click)="logout()"> <mat-icon>logout</mat-icon>Logout</a>
      <a mat-list-item class="nav-item nav-link" routerLink="/dashboard"> Dashboard</a>
   
  </mat-sidenav>
  <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <div class="example-sidenav-content">
          <div class="container-fluid">
           <div class="row">
               <div class="col-md-2"></div>
               <div class="col-md-8">
                   <div class="jumbotron jumbotron-fluid">
                       <div class="container">
                         <div class="row">
                             <div class="col-md-5 jumbo-text">
                               <h1 class="display-4">Welcome, Dr. Jane!</h1>
                               <p class="lead">Have a nice day today</p>
                               <button mat-raised-button routerLink='/profile' color="warn">Go to profile</button>
                             </div>
                             <div class="col-md-6">
                                 <img src="assets/images/team-doctors.jpg" alt="doctors illustration" class="jumbo-img">
                             </div>
                         </div>
                       </div>
                     </div>
               </div>
           </div>
           <div class="row">
               <div class="col-md-2"></div>
               <div class="col-md-6">
                   <mat-card class="inline-calendar-card">
                       <mat-calendar (selectedChange)="selected = $event"></mat-calendar>
                     </mat-card>
                     <p>Selected date: {{selected|date}}</p>
               </div>
               <div class="highlights col-md-4">
                   <h3>Today's Highlights:</h3>
               </div>
           </div>
       </div>
       </div>
          
         
      </div>
   
  </mat-sidenav-content>
</mat-sidenav-container>
