.jumbotron {
  background-color: #003060;
  margin-top: 2rem;
  height: 300px;
  color: white;
}
.jumbo-img {
  max-width: 300px;
  max-height: 250px;
 margin-top: 20px;
}
.jumbo-text{
  margin-left: 10px;
  margin-top: 3rem;
}
.inline-calendar-card{
  width: 450px;
  margin-left: 7rem;
}
.highlights{
  margin-top: 1rem;
}
.logo{
  color: white;
}
.logo1 {
  width: 200px;
  height: 100px;
  margin-top: 20px;
  margin-left: 35px
}
.pointer{
cursor: pointer;
}
.toggler{
  font-size: 40px;
}
mat-toolbar {
  background: #003060;
  color: white;
}
.nav-item{
  color: white;
}
mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #003060;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}
.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: lightgray;
}
mat-sidenav-container {
  height: calc(100vh - 65px);
  overflow: hidden;
}
.menu-button {
width: 100%;
display: flex;
align-items: center;
justify-content: flex-start;
font-size: 1rem;
}
mat-icon {
margin-right: 8px;
}
.avatar {
width: 100px;
height: 100px;
border-radius: 50%;
}
.name {
  margin-top: 2px;
font-weight: normal;
}
.designation {
font-size: 0.7rem;
color: lightgrey;
}
mat-divider {
margin-top: 16px;
background-color: rgba(255, 255, 255, 0.5);
}
.grid-container {
margin: 20px;
}
.dashboard-card {
position: absolute;
top: 15px;
left: 15px;
right: 15px;
bottom: 15px;
}
.more-button {
position: absolute;
top: 5px;
right: 10px;
}
.dashboard-card-content {
text-align: center;
margin-top: 10%;
font-family: comfortaa;
font-size: 100px;
text-decoration: none;
}
.example-card {
max-width: 400px;
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}


/* recent */
.back{
  font-size: 30px;
  font-family: comfortaa
}
.content-wrapper {
  min-height: calc(100vh - 56px);
  padding-top: 4rem;
  overflow-x: hidden;
  background: transparent;
}

.inforide {
  box-shadow: 1px 2px 8px 0px #747272;
  background-color: white;
  border-radius: 8px;
  height: 125px;
}


.rideone img {
  width: 90%;
  border-radius: 50%;
}

.ridetwo img {
  width: 90%;
  border-radius: 50%;
}

.ridethree img {
  width: 90%;
  border-radius: 50%;
}
.ridefour img {
  width: 90%;
  border-radius: 50%;
}
mat-card{
  height: 50vh;
}

.rideone {
  background-color: #6CC785;
  padding-top: 25px;
  border-radius: 8px 0px 0px 8px;
  text-align: center;
  height: 125px;
  margin-left: 15px;
}

.ridetwo {
  background-color: #003060;
  padding-top: 30px;
  border-radius: 8px 0px 0px 8px;
  text-align: center;
  height: 125px;
  margin-left: 15px;
}

.ridethree {
  background-color: #ff0000;
  padding-top: 35px;
  border-radius: 8px 0px 0px 8px;
  text-align: center;
  height: 125px;
  margin-left: 15px;
}

.ridefour {
  background-color: #dbe54e;
  padding-top: 35px;
  border-radius: 8px 0px 0px 8px;
  text-align: center;
  height: 300%;
  margin-left: 15px;
}

.fontsty {
  margin-right: -15px;
}

.fontsty h2{
  color: #6E6E6E;
  font-size: 35px;
  margin-top: 15px;
  text-align: right;
  margin-right: 30px;
}

.fontsty h4{
  color: #6E6E6E;
  font-size: 25px;
  margin-top: 20px;
  text-align: right;
  margin-right: 30px;
}

/* recently */
.user_card {
  height: 300px;
  width: 50%;
  margin-top: auto;
  margin-bottom: 3%;
  background: #003060;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;

}
.brand_logo_container {
  position: absolute;
  height: 150px;
  width: 150px;
  top: -45px;
  border-radius: 50%;
  background: #60a3bc;
  padding: 10px;
  text-align: center;
}
.brand_logo {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  border: 2px solid white;
}
.form_container {
  margin-top: 100px;
}
.login_btn {
  width: 100%;
  background: white !important;
  color: #003060;
}
.btn-jom{
  margin: 2%;
}
.login_btn a{
  text-decoration: none;
  color: #003060;
  font-size: 20px;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}
.input-group-text {
  background: #2bc04b !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #c0392b !important;
}

.jumbotron {
  height: 50vh
}
.end{
  font-family: roboto;
  font-weight: 500;
}
.wel-text{
  font-family: comfortaa;
}
h4{
  font-family: comfortaa;
}
h2{
  font-family: comfortaa;
  font-size: 20px;
}
p{
  font-family: comfortaa;
}
.img-class{
  width: 100px;
}
blockquote{
  font-size: 20px;
}
q::before,
q::after {
  animation: dancing 1s linear infinite;
  display: inline-block;
  transform: rotate(13deg);
}

@keyframes dancing {
  0% {
    transform: rotate(13deg) scale(2);
  }

  25% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-13deg) scale(2);
  }

  75% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(13deg) scale(2);
  }
}
q {
  quotes: "‘" "’" "“" "”" "‘" "’" "“" "”";
}


.card-body{
  background: #003060;
  color: white;
}

.view{
  background: #2bc04b;
  color: white;
  font-family: roboto;
}

.img-fluid{
  max-height: 50vh;
}
.nav-link{
  font-family: comfortaa;
}
.nav-link:hover{
  color: deepskyblue;
}
span{
  font-family: comfortaa;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */

  ::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */

  ::-webkit-scrollbar-thumb {
  background: #003060; 
}

  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  
  background: #555; 
} 
