<mat-toolbar>
  <button type="button" (click)="drawer.toggle()" mat-icon-button class="toggler">
    ☰
  </button>
  <span>Dashboard</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === true">
    <img class="avatar mat-elevation-z8" src="{{profile.image}}" />
    <h4 class="name">Dr.{{ profile.displayName }}</h4>
    <p class="designation">{{ profile.department }}</p>
   <mat-divider></mat-divider>

   <a
   mat-list-item
   class="nav-item nav-link"
   routerLink="/home"
   routerLinkActive="active"
   ><mat-icon>home</mat-icon>Home</a
 >

    <a
      mat-list-item
      class="nav-item nav-link"
      routerLink="/profile"
      routerLinkActive="active"
      ><mat-icon>contact_page</mat-icon>Profile</a
    >
    <a
      mat-list-item
      class="nav-item nav-link"

      href="/tasks"

      routerLinkActive="active"
      ><mat-icon>assignment</mat-icon>Tasks</a
    >
    <a
      mat-list-item
      class="nav-item nav-link"
      routerLink="/convolist"
      routerLinkActive="active"
      ><mat-icon>forum</mat-icon
      ><span matBadge="4" matBadgeOverlap="false">Chat</span></a
    >
    <a
      mat-list-item
      class="nav-item nav-link"
      routerLink="/about"
      routerLinkActive="active"
      ><mat-icon>contact_support</mat-icon>Help</a
    >

    <a
      mat-list-item
      class="nav-item nav-link"
      routerLink="/directory"
      routerLinkActive="active"
      ><mat-icon> contact_mail</mat-icon>Directory</a
    >

    <a
      mat-list-item
      class="nav-item nav-link pointer"
      *ngIf="(user | async)?.uid"
      (click)="logout()"
    >
      <mat-icon>logout</mat-icon>Logout</a
    >
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content-wrapper">
      <div class="container">
        <div class="row">
          <div class="jumbotron hoverable p-4">

            <!-- Grid row -->
            <div class="row">
          
              <!-- Grid column -->
              <div class="col-md-4 offset-md-1 mx-3 my-3">
          
                <!-- Featured image -->
                <div class="view overlay waves-light" mdbWavesEffect>
                  <img src="assets/images/jumbo.jpg" class="img-fluid" alt="Sample image for first version of blog listing" >
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
          
              </div>
              <!-- Grid column -->
          
              <!-- Grid column -->
              <div class="col-md-7 text-md-left ml-3">
                <img src="assets/images/cropped-consult.jpg" alt="logo" class="img-class">
                <!-- Excerpt -->
                <h1 class="back">Welcome Back <a><strong>{{profile.displayName}}</strong>!</a></h1>
                <p class="wel-text">Consult is a clinical communication and collaboration platform that
                  coordinates activities and data flow between health workers</p>          
                <a class="btn btn-success end" color="success"  routerLink="/about">Read More!</a>
          
              </div>
              <!-- Grid column -->
          
            </div>
            <!-- Grid row -->
          
          </div>
        
          <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
              <div class="inforide">
                <div class="row">
                  <div class="col-lg-3 col-md-4 col-sm-4 col-4 rideone">
                      <img src="assets/images/doc.jpg">
                  </div>
                  <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                      <h4>Employee</h4>
                      <h2>20</h2>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
              <div class="inforide">
                <div class="row">
                  <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridetwo">
                      <img src="assets/images/doctors.jpg">
                  </div>
                  <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                      <h4>Tasks</h4>
                      <h2>120</h2>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
              <div class="inforide">
                <div class="row">
                  <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridethree">
                      <img src="assets/images/doc.jpg">
                  </div>
                  <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                      <h4>Tasks</h4>
                      <h2>50</h2>
                  </div>
                </div>
              </div>
          </div>

      </div>

      <section class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">

                                    <div class="col-md-4 col-lg-4">
                                        <div class="card">
                                            <img class="img-fluid" alt="" src="assets/images/conn.png">
                                            <div class="card-body">
                                                <h2 class="card-title"> <strong>Connect with Professionals</strong> </h2> <hr>
                                                <p class="card-text">We connect you to many professionals around Kenya</p>
                                                <a class="btn btn-lg view" href="/directory"> View </a>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                        <div class="card">
                                            <img class="img-fluid" alt="" src="assets/images/chat.jpg">
                                            <div class="card-body">
                                                <h2 class="card-title"> <strong>Chat with Colleagues</strong> </h2> <hr>
                                                <p class="card-text">With our new supporting chat feature you can reach out when in need.</p>
                                                <a class="btn btn-lg view" href="/chats"> View </a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                        <div class="card">
                                            <img class="img-fluid" alt="100%x280" src="assets/images/help.jpeg">
                                            <div class="card-body">
                                                <h2 class="card-title"> <strong>Need help?</strong> </h2> <hr>
                                                <p class="card-text">See our help section on how to go through the app</p>
                                                <a class="btn btn-lg view" href="/about"> View </a>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


      </div>
      </div>



  </mat-sidenav-content>
</mat-sidenav-container>
