<div class="container-fluid">
    <div class="row no-gutter">
        <div class="right-col col-md-5">
         
            <h2 class="text-center">Add a task:</h2>
            <form>
                <mat-form-field>
                    <mat-label>Title</mat-label>
                    <input matInput cdkFocusInitial [(ngModel)]="task.title" />
                  </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <input matInput cdkFocusInitial [(ngModel)]="task.description" />
                  </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Assign Task:</mat-label>
                    <mat-select [(value)]="selected">
                      <mat-option>none</mat-option>
                      <!-- ngfor user in users -->
                      <mat-option *ngFor="let profile of profiles" [value]="profile.displayName" [(ngModel)]="task.assignedTo">{{profile.displayName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                <br>
                <!-- <div class="form-group">
                    <label for="name">Description:</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="task.description">
                </div>
                <br> -->
                <!-- <div class="form-group">
                    
                    <label for="name">Assign:</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="task.description">
                </div> -->
             
            
            <div class="btns">
                
                <button class="btn submit-btn" (click)="addTask()">Submit</button>
                <button class="btn cancel-btn" routerLink='/patients'>Cancel</button>
            </div>
            </form>
        </div>
        <div class="extreme-col col-md-1">
            <!-- <div *ngFor="let profile of profiles">
                <p style="color: white;">{{profile.displayName}}</p>
            </div> -->
        </div>
        <div class="d-none d-md-flex col-md-4 col-lg-6 left-col">
            <img src="../../../../../assets/images/tasks.png" alt="" class="bg-image">
           
        </div>
    </div>
</div>



