:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
  }
  .left-col{
    
    height: 100vh;
  }
  .right-col, .extreme-col{
    background-color: #003060;

  }
.bg-image{
    width: 100%;
    object-fit: contain;
}
.submit-btn{
    background-color: deepskyblue;
    color: white;
}
.cancel-btn {
    border: 1px solid deepskyblue;
    color: deepskyblue;
    margin: 1rem;
}
h2, label{
    color: white;
}
.right-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
mat-form-field, [input]{
  color: white;
}
mat-label, mat-datepicker-toggle{
  color: white;
}
mat-form-field{
  width: 30vw;
}