<div class="container-fluid">
  <div class="consult">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-12 col-lg-10 col-xl-8">
        <div class="card d-flex mx-auto my-5">
          <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12 c1 p-5">
              <div class="row mb-5 m-3">
                <img src="" width="70vw" height="45vh" alt="Logo" />
              </div>
              <img
                src="assets/images/team-doctors.jpg"
                width="150vw"
                height="120vh"
                class="mx-auto d-flex"
                alt="Doctor"
              />
              <div class="row justify-content-center">
                <div
                  class="
                    w-75
                    mx-md-5 mx-1 mx-sm-2
                    mb-5
                    mt-4
                    px-sm-5 px-md-2 px-xl-1 px-2
                  "
                >
                  <h1 class="wlcm">Welcome to Consult</h1>
                  <span class="sp1">
                    <span class="px-4 bg-white rounded-pill"></span>
                    <span class="ml-2 px-1 rounded-circle"></span>
                    <span class="ml-2 px-1 rounded-circle"></span>
                  </span>
                </div>
              </div>
            </div>
              <div class="col-md-7 col-sm-12 col-xs-12 px-5 pt-3">
                <div class="row">
                  <nav
                    class="
                      nav
                      font-weight-500
                      mb-1 mb-sm-2 mb-lg-5
                      px-sm-2 px-lg-5
                    "
                  >
                  </nav>
                </div>
                <section>
                  <h2>Forgot your Password?</h2>
                  <p>We can send you a reset link</p>
              
                  <mat-form-field>
                    <input
                      matInput
                      placeholder="Enter your email"
                      [(ngModel)]="email"
                      required
                    />
                  </mat-form-field>
                
                  <button mat-raised-button (click)="resetPassword(email)" color="primary">
                    Reset Password <i class="fas fa-arrow-right"></i>
                  </button>
                </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
