
.btn-cal {
    background-color: deepskyblue;
}
.dailyE{
    background-color: beige;
}
.highlights-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.container{
    font-family: 'Lato', sans-serif;
}