<div class="container-fluid">
  <div class="row">
    <div class="col-6 consult">
      <h1 class="header">Consult</h1>
    </div>
    <div class="col-6 mt-4">
      <h3 class="text-center">Register</h3>
      <form #formData="ngForm" (ngSubmit)="onSubmit(formData)" class="p-3 mt-3">
        <div class="mb-3">
          <label for="email" class="form-label">Email Address</label> <br />
          <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input
              matInput
              placeholder="janedoe@gmail.com"
              (ngModel)="(email)"
              (FormControl)="email"
              name="email"
              required
            />
            <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
          </mat-form-field>
        </div>
        <div class="mb-3">
          <label for="RegisterPassword" class="form-label">Password</label>
          <br />
          <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              placeholder="**********"
              (ngModel)="(password)"
              name="password"
              required
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <!-- <div class="mb-3">
            <label for="RegisterPassword" class="form-label"
              >Confirm Password</label
            >
            <input
              formControlName="password2"
              required
              type="password"
              class="form-control"
              placeholder="Confirm Password"
            />
          </div> -->

        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!formData.valid"
          class="auth-btn text-center"
        >
          Sign Up <i class="fas fa-sign-in-alt"></i>
        </button>
      </form>
      <div>
        <p>
          <a routerLink="/login" id="goback"
            >Have an account? Proceed to login</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
