<mat-toolbar>
  <button type="button" (click)="drawer.toggle()" mat-icon-button class="toggler">
    ☰
  </button>
  <span>Navigation</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === true">
    <img class="avatar mat-elevation-z8" src="{{profile.image}}" />
    <h4 class="name">Dr.{{ profile.displayName }}</h4>
    <p class="designation">{{ profile.department }}</p>
    <hr />
    <a
      mat-list-item
      href=""
      class="nav-item nav-link active"
      routerLink="/home"
      routerLinkActive="active"
      ><mat-icon>home</mat-icon> Home</a
    >
    <a
      mat-list-item
      class="nav-item nav-link"

      href="/tasks"

      routerLinkActive="active"
      ><mat-icon>assignment</mat-icon>Tasks</a
    >
    <a
      mat-list-item
      class="nav-item nav-link"
      routerLink="/chats"
      routerLinkActive="active"
      ><mat-icon>forum</mat-icon
      ><span matBadge="4" matBadgeOverlap="false">Rooms</span></a
    >

    <a
      mat-list-item
      class="nav-item nav-link"
      routerLink="/convolist"
      routerLinkActive="active"
      ><mat-icon>forum</mat-icon
      ><span matBadge="4" matBadgeOverlap="false">Chat</span></a
    >
    <a
      mat-list-item
      class="nav-item nav-link"
      routerLink="/about"
      routerLinkActive="active"
      ><mat-icon>contact_support</mat-icon>Help</a
    >
    <a
      mat-list-item
      class="nav-item nav-link"
      routerLink="/directory"
      routerLinkActive="active"
      ><mat-icon> contact_mail</mat-icon>Directory</a
    >
   
    <a
    mat-list-item
    class="nav-item nav-link pointer"
    *ngIf="(user | async)?.uid"
    (click)="logout()"
  >
    <mat-icon>logout</mat-icon>Logout</a
  >
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="example-sidenav-content">
      <div class="container">
        <div class="row mt-5">
          <div class="col-md-2"></div>
          <div class="col-md-8 profile">
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                    <img [src]="profile.image" class="center user-img" />
                    <h2 class="dr-name text-center">Dr: {{ profile.displayName }}</h2>
                    <div class="col-md-4"></div>
                  </div>
                </div>
                <div class="overview-tab">
                  <div class="tab-slider--nav">
                    <div class="row tab-slider--tabs">
                      <div
                        class="col-md-4 lead tab-slider--trigger"
                        [class.active]="viewMode == 'tab1'"
                        rel="tab1"
                        (click)="viewMode = 'tab1'"
                      >
                        Overview
                      </div>
                      <div
                        class="col-md-4 lead tab-slider--trigger"
                        [class.active]="viewMode == 'tab2'"
                        rel="tab2"
                        (click)="viewMode = 'tab2'"
                      >
                        BIO
                      </div>
                      <div
                        class="col-md-4 lead lead tab-slider--trigger"
                        [class.active]="viewMode == 'tab3'"
                        rel="tab3"
                        (click)="viewMode = 'tab3'"
                      >
                        INTERESTS
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                      <div class="tab-slider--container" [ngSwitch]="viewMode">
                        <div
                          id="tab1"
                          class="tab-slider--body"
                          *ngSwitchCase="'tab1'"
                        >
                          <br /><button
                            type="button"
                            class="btn btn-primary modal-button"
                            data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop"
                          >
                            <i class="fas fa-user-cog"></i>
                          </button>
                          <table>
                            <tr>
                              <td>Name</td>
                              <td></td>
                              <td>{{ profile.displayName }}</td>
                            </tr>
                            <tr>
                              <td>Email</td>
                              <td></td>
                              <td>{{ profile.email }}</td>
                            </tr>
                            <tr>
                              <td>Department</td>
                              <td></td>
                              <td>{{ profile.department }}</td>
                            </tr>
                            <tr>
                              <td>Position</td>
                              <td></td>
                              <td>{{ profile.position }}</td>
                            </tr>
                            <tr>
                              <td>Contact</td>
                              <td></td>
                              <td>{{ profile.contact }}</td>
                            </tr>
                          </table>
                        </div>
                        <div
                          id="tab2"
                          class="tab-slider--body"
                          *ngSwitchCase="'tab2'"
                        >
                          <br />
                          <p class="text-light">{{ profile.bio }}</p>
                        </div>
                        <div
                          id="tab3"
                          class="tab-slider--body"
                          *ngSwitchCase="'tab3'"
                        >
                          <ul class="text-light">
                            <br /><br />
                            <li>{{ profile.interest1 }}</li>
                            <br />
                            <li>{{ profile.interest2 }}</li>
                            <br />
                            <li>{{ profile.interest3 }}</li>
                            <br />
                            <li>{{ profile.interest4 }}</li>
                            <br />
                          </ul>
                        </div>
                      </div>
                      <!-- <div class="col-md-4"></div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
       </div>
        </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div class="user-info">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <!-- Modal -->
        <div
          class="modal fade modal-dialog-scrollable"
          id="staticBackdrop"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="staticBackdropLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="card">
                  <div class="card-image">
                    <h2 class="card-heading text-center">
                      UPDATE PROFILE
                      <small>Update your account</small>
                    </h2>
                  </div>
                  <form
                    (ngSubmit)="updateProfile()"
                    #quoteForm="ngForm"
                    id="form"
                    class="card-form"
                  >
                    <div class="input">
                      <input
                        type="text"
                        class="input-field"
                        id="name"
                        [(ngModel)]="displayNameInput"
                        name="name"
                        required
                      />
                      <label for="name" class="input-label">Full name</label>
                    </div>
                    <div class="input">
                      <label for="profile_picture">Profile Picture</label
                      ><br /><br />
                      <input
                        type="file"
                        id="myFile"
                        name="filename"
                        [(ngModel)]="imageInput"
                        name="image"
                        (change)="showPreview($event)"
                      />
                    </div>
                    <div class="input">
                      <input
                        type="text"
                        class="input-field"
                        id="department"
                        [(ngModel)]="departmentInput"
                        name="department"
                        required
                      />
                      <label for="department" class="input-label"
                        >Department</label
                      >
                    </div>
                    <div class="input">
                      <input
                        type="text"
                        class="input-field"
                        id="position"
                        [(ngModel)]="positionInput"
                        name="position"
                        required
                      />
                      <label for="position" class="input-label"
                        >Position</label
                      >
                    </div>
                    <div class="input">
                      <input
                        type="text"
                        class="input-field"
                        [(ngModel)]="contactInput"
                        name="contact"
                        required
                      />
                      <label for="contact" class="input-label">Contact</label>
                    </div>
                    <div class="input">
                      <input
                        type="text"
                        class="input-field"
                        [(ngModel)]="bioInput"
                        name="bio"
                        required
                      />
                      <label class="input-label text-area">Bio</label>
                    </div>
                    <div class="input">
                      <input
                        type="text"
                        class="input-field"
                        [(ngModel)]="interest1Input"
                        name="interest"
                        required
                      />
                      <label class="input-label text-area">Interest</label>
                    </div>
                    <div class="input">
                      <input
                        type="text"
                        class="input-field"
                        [(ngModel)]="interest2Input"
                        name="interest"
                        required
                      />
                      <label class="input-label text-area">Interest</label>
                    </div>
                    <div class="input">
                      <input
                        type="text"
                        class="input-field"
                        [(ngModel)]="interest3Input"
                        name="interest"
                        required
                      />
                      <label class="input-label text-area">Interest</label>
                    </div>
                    <div class="input">
                      <input
                        type="text"
                        class="input-field"
                        [(ngModel)]="interest4Input"
                        name="interest"
                        required
                      />
                      <label class="input-label text-area">Interest</label>
                    </div>
                    <br />
                    <button class="action-button" >Submit</button>
                  </form>
                </div>
              </div>
              <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
  </div>