<mat-toolbar>
  <button
    type="button"
    (click)="drawer.toggle()"
    mat-icon-button
    class="toggler"
  >
    ☰
  </button>
  <span>Navigation</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === true"
  >
  <img class="avatar mat-elevation-z8" src="https://image.freepik.com/free-vector/doctor-avatar-design_1146-14.jpg" />
  <h4 class="name">Dr. Jane</h4>
  <p class="designation">Gynacologist</p>
  <hr>
    <a
      mat-list-item
      href=""
      class="nav-item nav-link active"
      routerLink="/home"
      routerLinkActive="active"
      ><mat-icon>home</mat-icon> Home</a
    >
    <a
      mat-list-item
      class="nav-item nav-link"
      routerLink="/profile"
      routerLinkActive="active"
      ><mat-icon>contact_page</mat-icon>Profile</a
    >
    <a
      mat-list-item
      class="nav-item nav-link"
      routerLink="/tasks"
      routerLinkActive="active"
      ><mat-icon>assignment</mat-icon>Tasks</a
    >
    <a
      mat-list-item
      class="nav-item nav-link"
      routerLink="/chats"
      routerLinkActive="active"
      ><mat-icon>forum</mat-icon><span matBadge="4" matBadgeOverlap="false">Chat</span></a
    >
    <a
      mat-list-item
      class="nav-item nav-link"
      routerLink="about"
      routerLinkActive="active"
      ><mat-icon>contact_support</mat-icon>Help</a
    >
    <a
      mat-list-item
      class="nav-item nav-link pointer"
      *ngIf="(user | async)?.uid"
      (click)="logout()"
    >
      <mat-icon>logout</mat-icon>Logout</a
    >
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <div class="example-sidenav-content">
        <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-12 profile">
              <div class="jumbotron jumbotron-fluid">
                    <div class="row">
                      <div class="col-md-4"></div>
                        <div class="col-md-4">
                          <img [src]=" profile.image " class="center" >
                          <h2 class="dr-name text-center">I am Dr: {{ profile.displayName }}</h2>
                        <div class="col-md-4"></div>
                        </div>
                    </div>
                    <div class=" overview-tab">
                      <div class="tab-slider--nav">
                        <div class=" row tab-slider--tabs">
                        <div class="col-md-4 lead tab-slider--trigger" [class.active]="viewMode == 'tab1'" rel="tab1" (click)="viewMode ='tab1'">Overview</div>
                      <div class="col-md-4 lead tab-slider--trigger" [class.active]="viewMode == 'tab2'" rel="tab2" (click)="viewMode ='tab2'">BIO</div>
                      <div class="col-md-4 lead lead tab-slider--trigger" [class.active]="viewMode == 'tab3'" rel="tab3" (click)="viewMode ='tab3'">CHAT GROUPS</div>
                        </div>
                      </div>
                    </div>
                    <div class="container">
                      <div class="row">
                        <div class="col-12">
                          <div class="tab-slider--container" [ngSwitch]="viewMode">
                            <div id="tab1" class="tab-slider--body" *ngSwitchCase="'tab1'">
                              <h2 class="overview text-center">PROFILE OVERVIEW</h2>
                              <table class="mat-elevation-z8">
                                <tr>
                                  <td>Name: {{ profile.displayName }}</td>
                                </tr>
                                <mat-divider></mat-divider>
                                <tr>
                                  <td>Email: {{ profile.email }}</td>
                                </tr>
                                <mat-divider></mat-divider>
                                <tr>
                                  <td>Department: {{ profile.department }}</td>
                                </tr>
                                <mat-divider></mat-divider>
                                <tr>
                                  <td>Position: {{ profile.position }}</td>
                                </tr>
                                <mat-divider></mat-divider>
                                <tr>
                                  <td>Contact: {{ profile.contact }}</td>
                                </tr>
                                <mat-divider></mat-divider>
                                <tr><td><p>Interests: {{ profile.interest1 }}</p></td></tr>
                            </table>
                            </div>
                            <div id="tab2" class="tab-slider--body" *ngSwitchCase="'tab2'">
                              <h2 class="overview">BIO</h2>
                            </div>
                            <div id="tab3" class="tab-slider--body" *ngSwitchCase="'tab3'">
                              <h2 class="overview">CHAT GROUPS</h2>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
          </div>
          <div class="col-md-2"></div>
        </div>
        </div><br><br>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<section id="updateProfile">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="con col-md-8">
          <hr>
          <div class="container">
            <div class="card">
              <div class="card-image">
                <h2 class="card-heading">
                  UPDATE PROFILE
                  <small>Update your account</small>
                </h2>
              </div>
              <form (ngSubmit)='updateProfile()' #quoteForm='ngForm' id="form" class="card-form">
                <table class="update">
                  <tr>
                  <td>
                <div class="input">
                  <input type="text" class="input-field" id="name" [(ngModel)]="displayNameInput" name="name" required/>
                  <label for="name" class="input-label">Full name</label>
                </div>
                </td>
                <td>
                <div class="input">
                  <input type="file" id="myFile" name="filename" [(ngModel)]="imageInput" name="image" (change)="showPreview($event)">
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="input">
                  <input type="text" class="input-field" id="department" [(ngModel)]="departmentInput" name="department" required/>
                  <label for="department" class="input-label">Department</label>
                </div>
              </td>
              <td>
                <div class="input">
                  <input type="text" class="input-field" id="position" [(ngModel)]="positionInput" name="position" required/>
                  <label for="position" class="input-label">Position</label>
                </div>
              </td>
              </tr>
              <tr>
                <td>
                <div class="input">
                  <input type="text" class="input-field" [(ngModel)]="contactInput" name="contact" required/>
                  <label for="contact" class="input-label">Contact</label>
                </div>
                </td>
                <td>
                <div class="input">
                  <input type="text" class="input-field" [(ngModel)]="interest1Input" name="interest1" required/>
                  <label class="input-label">Interest</label>
                </div>
                </td>
              </tr>
                </table>
                <button class="action-button mt-5 text-center">Submit</button>
              </form>
            </div>
          </div>
          <div id="contact">
          </div>
        </div>
      </div>
    </div>


                  

              
