<!-- <div class="example-container mat-elevation-z8">
  <div class="drawer-container">
    <div class="left-drawer">
      <div class="users-pane">
        <h3>Group users</h3>
        <mat-card class="users-card" *ngFor="let user of users">
          <mat-icon>person</mat-icon> <span class="username">{{user.chatname}}</span>
        </mat-card>
      </div>
    </div>
    <div class="chat-pane">
      <div class="chat-content">
        <nav class="navbar navbar-light bg-light">
          <div class="container">
            <ul>
              <li><h3 class="text-center"><strong>{{roomname}}</strong></h3></li>
              <li *ngFor="let chat of this.admin"><h4>Created By: {{chat.admin}}</h4></li>
            </ul>
          </div>
        </nav>
        
        <div class="message-box" *ngFor="let chat of this.chats">
          <div class="chat-status" text-center *ngIf="chat.type==='join'||chat.type==='exit';else message">
            <span class="chat-date">{{chat.date | date:'short'}}</span>
            <span class="chat-content-center">{{chat.message}}</span>
          </div>
          <ng-template #message>
            <div class="chat-message">
              <div class="right-bubble"
                [ngClass]="{'right-bubble': chat.chatname === chatname, 'left-bubble': chat.chatname !== chatname}">
                <span class="msg-name" *ngIf="chat.chatname === chatname"></span>
                <span class="msg-name" *ngIf="chat.chatname !== chatname" style="text-transform: capitalize;">{{chat.chatname}}</span>
                <span class="msg-date">  {{chat.date | date:'short'}}</span>
                <div class="msg-edit" *ngIf="chat.chatname === chatname">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon>edit</mat-icon>
                    <span>Update</span>
                  </button>
                  <button mat-menu-item (click)="deleteMsg(chat.key)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                  </button>
                </mat-menu>
                </div>
                <p text-wrap>{{chat.message}}</p>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
      <footer class="sticky-footer">
        <form class="message-form" [formGroup]="chatForm" (ngSubmit)="onFormSubmit(chatForm.value)">
          <mat-form-field class="message-form-field">
            <input matInput placeholder="Enter message here" formControlName="message" [errorStateMatcher]="matcher">
            <mat-error>
              <span>Enter your message</span>
            </mat-error>
            <button type="submit" [disabled]="!chatForm.valid" mat-button matSuffix mat-icon-button aria-label="Send">
              <mat-icon>send</mat-icon>
            </button>
          </mat-form-field>
        </form>
      </footer>
    </div>
  </div>
</div>

    <mat-card>
        <h3>Group users</h3>
        <mat-card class="users-card" *ngFor="let user of users">
          <mat-icon>person</mat-icon> <span class="username">{{user.chatname}}</span>
        </mat-card>
        <div class="container">
          <ul>
            <li><h3 class="text-center"><strong>{{roomname}}</strong></h3></li>
            <li *ngFor="let chat of this.admin"><h4>Created By: {{chat.admin}}</h4></li>
          </ul>
        </div>
        <div class="message-box" *ngFor="let chat of this.chats">
          <div class="chat-status" text-center *ngIf="chat.type==='join'||chat.type==='exit';else message">
            <span class="chat-date">{{chat.date | date:'short'}}</span>
            <span class="chat-content-center">{{chat.message}}</span>
          </div>
          <ng-template #message>
            <div class="chat-message">
              <div class="right-bubble"
                [ngClass]="{'right-bubble': chat.chatname === chatname, 'left-bubble': chat.chatname !== chatname}">
                <span class="msg-name" *ngIf="chat.chatname === chatname">Me</span>
                <span class="msg-name" *ngIf="chat.chatname !== chatname">{{chat.chatname}}</span>
                <span class="msg-date"> at {{chat.date | date:'short'}}</span>
                <p text-wrap>{{chat.message}}</p>
              </div>
            </div>
          </ng-template>
          <form class="message-form" [formGroup]="chatForm" (ngSubmit)="onFormSubmit(chatForm.value)">
            <mat-form-field class="message-form-field">
              <input matInput placeholder="Enter message here" formControlName="message" [errorStateMatcher]="matcher">
              <mat-error>
                <span>Enter your message</span>
              </mat-error>
              <button type="submit" [disabled]="!chatForm.valid" mat-button matSuffix mat-icon-button aria-label="Send">
                <mat-icon>send</mat-icon>
              </button>
            </mat-form-field>
          </form>
          </div>
        </mat-card> -->

        
