<mat-toolbar>
  <button
    type="button"
    (click)="drawer.toggle()"
    mat-icon-button
    class="toggler"
  >
    ☰
  </button>
  <span>Directory</span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === true"
  >
    <img
      class="avatar mat-elevation-z8"
      src="{{profile.image}}"
    />
    <h4 class="name">Dr.{{ profile.displayName }}</h4>
    <p class="designation">{{ profile.department }}</p>
    <hr />
    <a
      mat-list-item
      href=""
      class="nav-item nav-link active"
      routerLink="/home"
      routerLinkActive="active"
      ><mat-icon>home</mat-icon> Home</a
    >
    <a
      mat-list-item
      class="nav-item nav-link"
      routerLink="/profile"
      routerLinkActive="active"
      ><mat-icon>contact_page</mat-icon>Profile</a
    >
    <a
      mat-list-item
      class="nav-item nav-link"
      routerLink="/tasks"
      routerLink="/tasks"
      routerLinkActive="active"
      ><mat-icon>assignment</mat-icon>Tasks</a
    >
    <a
      mat-list-item
      class="nav-item nav-link"
      routerLink="/chats"
      routerLinkActive="active"
      ><mat-icon>forum</mat-icon
      ><span matBadge="4" matBadgeOverlap="false">Chat</span></a
    >
    <a
      mat-list-item
      class="nav-item nav-link"
      routerLink="about"
      routerLinkActive="active"
      ><mat-icon>contact_support</mat-icon>Help</a
    >
    <a
      mat-list-item
      class="nav-item nav-link pointer"
      *ngIf="(user | async)?.uid"
      (click)="logout()"
    >
      <mat-icon>logout</mat-icon>Logout</a
    >
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="col-12"></div>
   <div class="grid-container">
      <form class="form-inline">
        <label for="Search Directory" class="text-dark mb-2 "> <strong>Search Directory</strong></label>
        <input id="search" type="search" class="form-control" name="searchInput" placeholder="Search professional profiles" #searchInput="ngModel" [(ngModel)]="searchText" style="width: 50%;" >
        <button type="submit" class="btn btn-outline-primary btn-search" (click)="searchText=''">X</button>
      </form>
          
   
        <div class="container">
          <div class="" *ngFor='let profile of profiles'>
            <div *ngIf="filterCondition(profile)">
              <a class="card1" [routerLink]="['user-profile', profile.id]">
                <h3>{{profile.displayName}}</h3>
                <img [src]=" profile.image " class=" mt-5 avatar">
                <p class="small">Works in our organization</p>
                <ul class="list">
                  <mat-card>
                    <li><strong>Email:</strong>  {{ profile.email }}</li>
                    <li><strong>Department:</strong> {{ profile.department }}</li>
                    <li><strong>Position:</strong> {{ profile.position }}</li>
                    <li><strong>Contact:</strong> {{ profile.contact }}</li>
                  </mat-card>
                </ul>
                <div class="go-corner" href="#">
                  <div class="go-arrow">
                    →
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
  </div>
  </mat-sidenav-content>
</mat-sidenav-container>