<mat-card class="list done">
    <p class="empty-label" *ngIf="len === 0">Empty list</p>
    <div *ngFor="let task of done">
    <mat-card  class="item" *ngIf="task" (dblclick)="edit.emit(task)">
        <h3>{{task.key}}</h3>
        <!-- <span>{{task.description }}</span> <br> -->
        <span><b>Tasked Owner:</b> {{task.owner }}</span> <br>
        <!-- <span><b>Due Date:</b> {{task.dateDue.toDate()|date  }}</span> -->
       <div>
        <button mat-raised-button color="accent" (click)="end(task)">finish</button>
       </div>
        <!-- <p>Status: {{task.status}}</p> -->
    </mat-card>
    <br>
    </div>   
  
    <!-- <app-new-task (edit)="editTask('done', $event)" *ngFor="let task of done" [task]="task"></app-new-task> -->
</mat-card>
<div *ngIf="len !== 0">
    <button class="btn" mat-raised-button color="warn" (click)="clear()">Clear</button>
</div>
