@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.container{
    font-family: 'Lato', sans-serif;
}
h2{
    color: #003060;
    letter-spacing: 2px;
    text-align: center;
}
.this-row{
    border: 1px solid whitesmoke;
    height: 80vh;
    width: 100%;
}
.tasks-list{
    background-color: whitesmoke;
}